---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Main from "@/layouts/Main.astro";
import { SITE } from "@/config";
---

<Layout title={`服务条款 | ${SITE.title}`}>
  <Header />
  <Main pageTitle="服务条款" pageDesc="访问和使用本网站前，请阅读我们的服务条款协议。">
    <div class="app-prose max-w-app prose-img:border-0 mt-8 mb-28">
      <h2>1. 接受条款</h2>
      <p>
        欢迎访问 <strong>{SITE.title}</strong>。通过访问或使用本网站，即表示您同意接受本《服务条款》以及本站《免责声明》与《隐私政策》的约束。如果您不同意这些条款的任何部分，请停止使用本网站的内容。
      </p>

      <h2>2. 网站服务说明</h2>
      <p>
        本网站主要提供关于网络架构设计、安全通信以及 Sing-box 客户端和服务器端部署的非商业技术教程。我们提供这些内容作为开源生态和技术交流的一部分。我们保留在任何时间修改、暂停或永久终止网站部分或全部服务内容的权利。
      </p>

      <h2>3. 知识产权与版权限制</h2>
      <p>
        本站所有原创文章、教程文本、排版设计及网站所含自制图表，未经本站明确授权，不得以任何形式用于任何商业用途。
      </p>
      <ul>
        <li>我们支持开源精神，您可以出于纯技术讨论目的转载文章片段，但必须注明出处并附上指向原文的链接。</li>
        <li>禁止使用自动化抓取工具大批量复制或镜像本站内容用于搭建其他网站。</li>
      </ul>

      <h2>4. 用户行为准则</h2>
      <p>
        在您浏览、评论（若有开放）或向本站反馈问题时，必须遵守以下准则：
        <ul>
          <li>不得发布或传播任何具有攻击性、诽谤性、欺诈性或违反法律法规的信息。</li>
          <li>不得利用本站的技术资源引导、教唆他人从事非法活动。</li>
          <li>不要恶意探测、攻击本站的服务器架构。</li>
        </ul>
      </p>

      <h2>5. 适用法律</h2>
      <p>
        本条款及您对本网站的使用行为受相关国家与地区法律管辖。上述条款若有任何变动，我们会在本页面随时予以更新。
      </p>
    </div>
  </Main>
  <Footer />
</Layout>
